<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{# page.description }}
    <meta name="description" content="{{ . }}">
  {{/ page.description }}
    <meta name="author" content="{{ data.author.name }}">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    {{{ stylesheets.all }}}
    {{{ javascripts.all }}}

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/assets/media/favicon.ico">
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container-narrow">
          <a class="brand" href="{{urls.base_path}}">{{ data.title }}</a>
          <ul class="nav">
            {{# data.navigation?to_pages }}
              {{> pages_list }}
            {{/ data.navigation?to_pages }}
          </ul>
            <ul class="nav pull-right social">
              <li class="divider-vertical"></li>
              {{# data.author.github }}
                <li>
                  <a href="https://www.github.com/{{ data.author.github }}" class="zocial github" target="_blank"></a>
                </li>
              {{/ data.author.github }}
              {{# data.author.googleplus }}
                <li>
                  <a href="https://profiles.google.com/{{ data.author.google }}" class="zocial googleplus icon" target="_blank"></a>
                </li>
              {{/ data.author.googleplus }}
              {{# data.author.twitter }}
                <li>
                  <a href="http://www.twitter.com/{{ data.author.twitter }}" class="zocial twitter icon" target="_blank"></a>
                </li>
              {{/ data.author.twitter }}
              {{# data.author.facebook }}
                <li>
                  <a href="http://www.facebook.com/{{ data.author.facebook }}" class="zocial facebook icon" target="_blank"></a>
                </li>
              {{/ data.author.facebook }}
              {{# data.author.linkedin }}
                <li>
                  <a href="http://www.linkedin.com/in/{{ data.author.linkedin }}" class="zocial linkedin icon" target="_blank"></a>
                </li>
              {{/ data.author.linkedin }}
              {{# data.author.weibo }}
                <li>
                  <a href="http://weibo.com/{{ data.author.weibo }}" class="zocial weibo icon" target="_blank"></a>
                </li>
              {{/ data.author.weibo }}
              {{# data.author.feedburner }}
                <li>
                  <!--<a href="/{{ data.author.rss }}" class="zocial rss icon" target="_blank"></a>-->
                  <a href="http://feed.feedsky.com/{{ data.author.feedburner }}" class="zocial rss icon" target="_blank"></a>
                </li>
              {{/ data.author.feedburner }}
            </ul>

        </div>
      </div>
    </div>

    <div class="container-narrow">

      <div class="content">
        {{{ content }}}
      </div>

      <hr>
      <div class="footer">
        <li>除非注明，本博客所有文章皆为原创。</li>
        <li><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="知识共享许可协议" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png"></a></li>
        <li>除非另有声明，本博客之<span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" rel="dc:type">原创文章</span>采用<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/">知识共享署名-非商业性使用-相同方式共享 3.0 Unported许可协议</a>进行许可。</li>
        <br>
        <p align="center">&copy; {{ data.author.name }} 2013 Power by <a href="http://ruhoh.com" target="_blank" title="The Definitive Technical Blogging Framework">ruhoh</a>
        <script type="text/javascript">
          var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
          document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F585255a5e3d24bd2605b17df4b97e60b' type='text/javascript'%3E%3C/script%3E"));
          </script></p>
      </div>
    </div> <!-- /container -->

    {{{ widgets.google_prettify }}}
    {{{ widgets.analytics }}}
  </body>
</html>
