---
layout : default
---

<div class="row-fluid">
  <div class="span12">
    {{#posts.paginator}}
      <div class="post">
        <h3 class="title"><a href="{{url}}">{{title}}</a> <span class="date">{{ date }}</span></h3>

        {{{ summary }}}

        <div class="more">
          <a href="{{url}}" class="btn btn-small">read more..</a> (<a href="{{url}}/#disqus_thread">Commits</a>)
        </div>
      </div>
    {{/posts.paginator}}
    
    <div class="pagination">
      <ul>
      {{#posts.paginator_navigation}}
        {{#is_active_page}}
          <li class="active"><a href="{{url}}">{{name}}</a></li>
        {{/is_active_page}}
        {{^is_active_page}}
          <li><a href="{{url}}">{{name}}</a></li>
        {{/is_active_page}}
      {{/posts.paginator_navigation}}
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = 'leaveboy'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
 var s = document.createElement('script'); s.async = true;
 s.type = 'text/javascript';
 s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
 (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
 }());
</script>
